<div class="form_class">
    <form action="/create-todo" method="POST">
    <div class="desc_Class">
        <input type="textarea" name="desc" placeholder="what do you need to do"> 
    </div>
    <div class="select_and_input">
        <select name="category" >
            <option value="" disabled selected>Select your option</option>
            <option>Personal</option>
            <option>Work</option>
            <option>Cleaning</option>
            <option>Others</option>
        </select>
        <input class="datesValues" type="date" name="dateValue" placeholder="Due data dd/mm/yyyy" >
    </div>
        <button class="buttonDesign colorGrey" id="submitButton" type="submit"><i class="fa fa-plus-square" > </i> Add Task</button>
        
    </form>
    <button class="buttonDesign colorRed" id="deleteButton" type="submit" ><i class="fa fa-trash-o"></i> Delete Task</button>

         
</div>

<!-- for displaying TODO lists -->
<div>
    <% for(let i of todoList) { let j=0; let newIds='descids'+j; %>
        <div class="singleTask">
            <input type="checkbox" name="delechack" class="delechack" onclick="checkedOrNot()" uid = <%= i._id %> >
            <div class="name_and_dueDate">
                <p id=<%= i._id %>  uid = <%= i._id %> class="dispdsc"><%= i.desc %></p>
                <p id=<%= i._id + i.dueDate %> class="dueDate"  ><%= i.dueDate %></p>
            </div>
            <div class="catesec">
                <%= i.category %>
            </div>
        </div>
        <% j++; } %>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/script.js"></script>