<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    <%- include('_header'); -%>
    <%- body %> <!--here th e body part of home and userhome is going to run-->
    <%- include('_footer'); -%>
    <%- script %>
    <script src="https://kit.fontawesome.com/d9e718a411.js" crossorigin="anonymous"></script>
</body>
</html>