<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/d9e718a411.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    <h1 id="page-heading">
        <i class="fa-solid fa-address-book"></i>
        My Contacts List
    </h1>
    
    <div id="contacts-list-container">
        <ul>
            <% for(let i of contacts_list) { %> 
                <li class="contact">
                    <div class="details">
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>
                    </div>
                    <div class="delete-button">
                        <a href="/delete-contact/?id=<%= i.id %>">
                            <i class="fa-solid fa-window-close"></i>
                        </a>
                    </div>
                </li>    
            <%}%>
        </ul>
    </div>

    <form id="new-contact-form" action="/create-contact" method="post">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Phone" required>

        <button type="submit">Add</button>
    </form>
    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>