<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
</head>
<body>
    <h1>Playground</h1>
    <ul>
        <% for(let i = 1;i < 6;i++) { %>
            <li>
              <%= i %>  
            </li>
        <% } %>
    </ul>

    <% if(false) { %>
        <h1>Its true</h1>
    <% } else { %> 
        <p>Its False</p>
    <% } %>
</body>
</html>